@charset "UTF-8";
/* CSS Document */

/* header */
header{
	border-bottom: 2px solid black;
}
.navbar{
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation{
	list-style-type: none;
	text-align: center;
	margin: 15px auto;
}

.navigation{
	display: flex;
	flex-direction: column;
}

.nav-link{
	text-decoration: none;
	color: #940202;
	text-transform: capitalize;
}
.nav-link:hover{
	color: #110101;
	font-weight: bold;
}

.nav-link{
	margin-left: 40px;
}
/*medium screen*/
@media (min-width:600px) and (max-width:900px){
	.navigation{
		display: flex;
		flex-direction: row;
	}
}

/*large screen*/
@media (min-width:901px){
	.navigation{
		display: flex;
		flex-direction: row;
	}
}

/*body*/
.page-header{
	margin: 20px auto;
	padding: 10px;
}
.page-header>h2{
	text-align: center;
	text-decoration: underline;
	word-wrap:break-word;
}
.page-header>h3{
	text-align: center;
	text-decoration: underline;
	word-wrap:break-word;
}
.page-header>h4{
	text-align: center;
	text-decoration: underline;
	word-wrap:break-word;
}


/*footer*/
footer{
	background-color: black;;
	margin-top: 30px;
	height: 400px;
}
footer{
	display: flex;
	flex-direction: column;
}

footer>div{
	margin: auto;
}
footer>div>ul{
	list-style-type:none;
	color: white;
}
footer>div>h4{
	text-align: center;
	color: #940202;
}

@media (min-width:600px) and (max-width:900px){	
	footer{
		background-color: black;;
		margin-top: 30px;
		height: 200px;
	}
	footer{
		display: flex;
		flex-direction: row;
	}
}

@media (min-width:901px){		
	footer{
		background-color: black;;
		margin-top: 30px;
		height: 200px;
	}
	footer{
		display: flex;
		flex-direction: row;
	}
}
